.nav-container {
  margin-top: 1em;
  margin-left: 6em;
}

.nav {
  display: inline-flex;
  justify-content: center;
  margin-right: 4em;
  font-size: 1.5em;
  text-decoration: none;
  color: rgba(31, 170, 42, 0.76);
  font-family: 'El Messiri', sans-serif;
}

@media screen and (max-width: 900px) {
  .nav-container {
    margin-left: 3em;
  }
  .nav {
    font-size: 0.78em;
  }
}
