.nav {
  display: inline-flex;
  margin: 1.5em 1em 1.5em 6em;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 850px) {
  .nav-container {
    margin: 25px 1px 1px 130px;
  }
  .nav {
    color: red;
    font-size: 1em;
    margin: 10px 77px 10px -70px;
  }
}
