.nav {
  display: inline-flex;
  margin: 1.5em 1em 1.5em 5em;
  font-size: 1.5em;
  text-decoration: none;
  color: rgba(31, 170, 42, 0.76);
  font-family: 'Cinzel Decorative', cursive;
}

@media screen and (max-width: 850px) {
  .nav-container {
    margin: 25px 50px 1px 90px;
  }
  .nav {
    font-size: 1em;
    margin: 10px 75px 10px -65px;
  }
}
