.home-container {
  display: grid;
  justify-content: center;
  color: rgb(241, 249, 248);
}

.title {
  text-align: center;
  font-size: 115px;
  margin-top: 0.5em;
  font-family: 'Libre Barcode 39 Text', cursive;
  color: rgba(240, 255, 255, 0.226);
}

.home-img {
  width: 45em;
  height: 45em;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 50px;
  }
  .home-img {
    margin-top: 1em;
    width: 20em;
    height: 20em;
  }
}
