.home-container {
  display: grid;
  justify-content: center;
  color: rgb(241, 249, 248);
}

.title {
  text-align: center;
  font-size: 150px;
  margin-top: -0.1em;
  font-family: 'Libre Barcode 39 Text', cursive;
  color: rgba(240, 255, 255, 0.226);
}

.home-img {
  width: 40em;
  height: 40em;
  margin: -5em 1em 1em 9.5em;
}

@media screen and (max-width: 850px) {
  .home-container {
    margin-top: 2em;
  }

  .title {
    font-size: 50px;
    margin-top: 20px;
  }
  .home-img {
    width: 20em;
    height: 20em;
    margin: 10px 1px 1px 1px;
  }
}
